@import '~sass-rem/_rem.scss';
@import 'styles/variables.scss';
@import '~include-media/dist/_include-media.scss';

.site-footer {
  background-color: $color-text-accent;
  padding: rem(16px 32px);
  text-align: center;
  color: $color-bg;
  position: relative;
  z-index: 0;

  &__logo-area {
    display: none;
    margin-bottom: rem(16px);

    @include media('>=tablet') {
      display: block;
    }

    a {
      transition: opacity .2s;

      &:hover img {
        opacity: .75;
      }
    }
  }
}
