@import '~sass-rem/_rem.scss';
@import '~include-media/dist/_include-media.scss';
@import 'styles/base.scss';
@import 'styles/layout.scss';
@import 'styles/variables.scss';
@import 'styles/mixins/text.scss';

.article {
  padding: rem(10px);

  @include media('>=tablet') {
    padding: 0;
  }

  // modular scale
  &__title {
    font-size: rem(28px);
    line-height: 1.4;
    margin: 0 0 rem(24px) 0;
    color: color('orient');
  }

  &__body {
    @include text-body;
  }

  picture {
    display: block;
    margin: 0 auto rem(48px) auto;
    box-shadow: 0 5px 10px color('shadow');
    border: 1px solid color('silver');

    img {
      width: 100%;
    }
  }

  .footnote {
    display: none;
  }
}

.article-box--series {
  display: none;

  @include media('>=desktop') {
    display: block;
  }
}
