@import '~sass-rem/_rem.scss';
@import 'styles/base.scss';
@import 'styles/variables.scss';
@import '~include-media/dist/_include-media.scss';
@import 'styles/mixins/link.scss';

.article {
  picture {
    margin-bottom: rem(18px);
    display: block;
    box-shadow: 0 5px 10px $color-shadow;
    border: 1px solid $color-border;

    img {
      width: 100%;
    }
  }
  &__body {
    p {
      margin: rem(0 0 16px 0);
      line-height: 1.6;
      font-size: rem(18px);
    }

    a {
      @include link;

      &.footnote-reference {
        vertical-align: super;
        font-size: .75em;
        border-bottom: none;
      }
    }

    .highlight {
      margin-bottom: rem(16px);
    }
  }

  .section {
    margin: rem(16px 0);

    h2 {
      line-height: 1.2;
      margin: rem(0 0 16px 0);
    }
  }

  .footnote {
    border: none;
    border-collapse: collapse;
    margin-bottom: rem(8px);

    &:first-of-type {
      border-top: 1px solid $color-border;
    }

    .label {
      padding-right: rem(10px);

      a {
        border-bottom: none;
      }
    }
  }
}

.article-box--series {
  display: none;

  @include media('>=desktop') {
    display: block;
  }
}
