beautifulsoup4==4.7.1
blinker==1.4
bs4==0.0.1
docutils==0.14
feedgenerator==1.9
future==0.17.1
htmlmin==0.1.12
Jinja2==2.10.1
joblib==1.2.0
lunr==0.5.4
Markdown==3.0.1
MarkupSafe==1.1.0
pelican==4.0.1
pelican-minify==0.9
Pygments==2.3.1
python-dateutil==2.7.5
pytz==2018.9
six==1.12.0
smartypants==2.0.1
soupsieve==1.7.3
typogrify==2.0.7
Unidecode==1.0.23
