{% extends "base.html" %}

{% block css %}
<style>{{ 'page-article.css' | manifest_asset | fetch | safe }}</style>
{% endblock %}

{% block js %}
<script>{{ 'page-article.js' | manifest_asset | fetch | trim | safe }}</script>
{% endblock %}

{% block content %}
    <article class="article">
        {% with %}
        {% set sizes = "(min-width: 1520px) 1070px, (min-width: 1040px) calc(86.96vw - 234px), (min-width: 380px) 95.63vw, calc(66.67vw + 98px)" %}
        {% include "includes/picture.html" %}
        {% endwith %}
    <h1 class="article__title">{% if article.series %}{{ article.series.name }}: {% endif %}{{ article.title }}</h1>
    <div class="article__body">
        {{ article.content }}
    </div>
</article>
{% include "widgets/share.html" %}
{% include "widgets/paginator_series.html" %}
{% endblock %}

{% block sidebar %}
{% include "widgets/series.html" %}
  {% with articlelist=[article] %}
    {% include "widgets/taglist.html" %}
  {% endwith %}
{% endblock %}
