{% extends "base.html" %}

{% block css %}
<style>{{ 'page-article.css' | manifest_asset | fetch | safe }}</style>
{% endblock %}

{% block js %}
{% filter trim %}
<script>{{ 'page-article.js' | manifest_asset | fetch | trim | safe }}</script>
{% endfilter %}
{% endblock %}

{% block content %}
<article class="article">
    <h1 class="page-title">{% if article.series %}{{ article.series.name }}: {% endif %}{{ article.title }}</h1>
    <picture>
        <source
            sizes="(min-width: 1024px) 60vw, 100vw"
            data-srcset="{{ SITEURL }}/{{ article | get_article_image('300x150', 'webp') }} 300w,
                    {{ SITEURL }}/{{ article | get_article_image('600x300', 'webp') }} 600w,
                    {{ SITEURL }}/{{ article | get_article_image('900x450', 'webp') }} 900w,
                    {{ SITEURL }}/{{ article | get_article_image('1200x600', 'webp') }} 1200w"
            type="image/webp"
        >
        <source
            sizes="(min-width: 1024px) 60vw, 100vw"
            data-srcset="{{ SITEURL }}/{{ article | get_article_image('300x150', 'png') }} 300w,
                    {{ SITEURL }}/{{ article | get_article_image('600x300', 'png') }} 600w,
                    {{ SITEURL }}/{{ article | get_article_image('900x450', 'png') }} 900w,
                    {{ SITEURL }}/{{ article | get_article_image('1200x600', 'png') }} 1200w"
            type="image/png"
        >
        <img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
            loading="lazy"
            data-src="{{ SITEURL }}/{{ article | get_article_image('900x450', 'png') }}"
            alt=""
        >
    </picture>
    <div class="article__body">
        {{ article.content }}
    </div>
</article>
{% include "widgets/paginator_series.html" %}
{% endblock %}

{% block sidebar %}
{% include "widgets/series.html" %}
  {% with articlelist=[article] %}
    {% include "widgets/taglist.html" %}
  {% endwith %}
{% endblock %}
