{% extends "base.html" %}

{% block css %}
<style>{{ 'page-article.css' | manifest_asset | fetch | safe }}</style>
{% endblock %}

{% block js %}
{% filter trim %}
<script>{{ 'page-article.js' | manifest_asset | fetch | trim | safe }}</script>
{% endfilter %}
{% endblock %}

{% block content %}
<article class="article">
    <h1 class="page-title">{% if article.series %}{{ article.series.name }}: {% endif %}{{ article.title }}</h1>
    <div class="article__body">
        {{ article.content }}
    </div>
</article>
{% include "widgets/paginator_series.html" %}
{% endblock %}

{% block sidebar %}
{% include "widgets/series.html" %}
  {% with articlelist=[article] %}
    {% include "widgets/taglist.html" %}
  {% endwith %}
{% endblock %}
