<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include "includes/seo.html" %}
  {% include "includes/icons.html" %}

  {% block head %}{% endblock %}
  {% block css %}{% endblock %}
</head>
<body>
  {% include "widgets/header.html" %}
  <div class="page-body">
  {% block body %}
    <main role="main">
      {% block content %}{% endblock %}
    </main>
    <aside class="sidebar">
      {% block sidebar %}{% endblock %}
    </aside>
  {% endblock %}
  </div>
  {% include "widgets/footer.html" %}
  {% block js %}{% endblock %}
</body>
</html>
