{% extends "base.html" %}

{% block css %}
<style>
{{ 'page-list.css' | manifest_asset | fetch }}
</style>
{% endblock %}

{% block js %}
    <script>
        {{ 'page-list.js' | manifest_asset | fetch }}
    </script>
{% endblock %}

{% block content %}
<section class="card-list">
  {% for article in articles_page.object_list %}
  {% if loop.first and not articles_page.has_previous() %}
      {% with special="true" %}
        {% include "includes/card.html" %}
      {% endwith %}
    {% else %}
      {% include "includes/card.html" %}
    {% endif %}
  {% endfor %}
  <footer>
    {% include "widgets/paginator.html" %}
  </footer>
</section>
{% endblock %}

{% block sidebar %}
  {% with articlelist=articles %}
    {% include "widgets/taglist.html" %}
  {% endwith %}
{% endblock %}
