{% extends "base.html" %}

{% block css %}
<style>{{ 'page-list.css' | manifest_asset | fetch }}</style>
{% endblock %}

{% block js %}
<script>{{ 'page-list.js' | manifest_asset | fetch | trim | safe }}</script>
{% endblock %}

{% block content %}
<section class="card-list">
    <div class="card-list__wrapper">
  {% for article in articles_page.object_list %}
      {% include "includes/card.html" %}
  {% endfor %}
    </div>
{% if articles_page.has_previous() or articles_page.has_next() %}
  <footer>
    {% include "widgets/paginator.html" %}
  </footer>
{% endif %}
</section>
{% endblock %}

{% block sidebar %}
  {% with articlelist=articles %}
    {% include "widgets/taglist.html" %}
  {% endwith %}
{% endblock %}
