{% extends "base.html" %}

{% block css %}
<style>{{ 'page-search.css' | manifest_asset | fetch }}</style>
{% endblock %}

{% block js %}
<script>{{ 'runtime~page-search.js' | manifest_asset | fetch | trim | safe }}</script>
<script src="{{ STATIC_URL }}/{{ 'page-search.js' | manifest_asset }}" async="async"></script>
{% endblock %}

{% block content %}
<section class="search-form">
    <form id="search-form" action="/search" method="GET">
        <input aria-label="Search query" type="search" name="q" required minlength="3" placeholder="search keyword">
        <button type="submit">Search</button>
    </form>
</section>
<section class="search-results">
    <div class="search-results__content"></div>
    <header>
        <h2 class="section-title">Search Results</h2>
    </header>
</section>
{% endblock %}

{% block sidebar %}
{% endblock %}
