@import '~sass-rem/_rem.scss';
@import 'styles/variables.scss';

.paginator {
  $icon-size: 16px;
  $gap-size: 10px;

  display: flex;
  clear: both;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;

  &__previous,
  &__next {
    position: relative;
    display: inline-block;
    padding: $gap-size / 2 $gap-size;
    color: color('white');
    background-color: color('orient');
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: $shadow-default;

    &:hover {
      background-color: color('orient-darkened');
    }

    &--disabled {
      background-color: color('silver');
      color: color('silver-darkened');

      &:hover {
        background-color: color('silver');
        color: color('silver-darkened');
      }
    }

    svg {
      color: inherit;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: $icon-size;
      height: $icon-size;
    }
  }

  &__previous {
    align-self: flex-start;
    padding-left: $icon-size + 2 * $gap-size;

    svg {
      left: $gap-size;
    }
  }

  &__next {
    align-self: flex-end;
    padding-right: $icon-size + 2 * $gap-size;

    svg {
      right: $gap-size;
    }
  }
}
