@import '~normalize-scss/sass/normalize';
@import '~sass-rem/_rem.scss';
@import '~include-media/dist/_include-media.scss';
@import 'styles/variables.scss';

$base-font-family: 'Segoe UI', Tahoma, sans-serif;
$base-unit: 'rem';
@include normalize($exclude: (forms embedded interactive scripting hidden));
@import 'styles/mixins/vertical-rhytm.scss';


html {
  &.font-open-sans-loaded {
    font-family: 'Open Sans', sans-serif;
  }

  &.no-scroll {
    overflow: hidden;

    body {
      overflow: hidden;
    }
  }
}

body {
  color: $color-text;
  background-color: $color-bg;
  overscroll-behavior: none;
}

.page-body {
  background-color: $color-bg;
}

.sidebar {
  z-index: 1;
  background: $color-bg;

  @include media('>=desktop') {
    box-shadow: $shadow-default;
  }
}

.section-title {
  border-bottom: 1px solid $color-border;
  padding: rem(0 8px);
  margin: rem(0 0 8px 0);
  font-size: rem(18px);
}

[data-module] {
  opacity: 0;
  transition: opacity 250ms linear;

  &[data-loaded] {
    opacity: 1;
  }
}

.as-oil__btn-optin {
  background-color: $color-text-accent !important;
  color: #fff !important;
}
