@import "chroma-sass";

$chroma: define-default-color-scheme('Default Scheme');

$chroma: add-colors((
    white: #fff,
    mine-shaft: #323232,
    scorpion: #695f62,
    silver: #ccc,
    orient: #005182,
    shadow: rgba(#000, .1),
    orient-darkened: ('orient' darken 5%),
));

$brands: define-color-scheme('brands', 'Brands colors');

$brands: add-colors((
    python: #306998,
    css: #0f94f6,
    html: #df4a16,
    javascript: #f8c500,
));

