$color-bg: #fff;
$color-hard-text: #000;
$color-text: #333;
$color-text-lighter: #5d5d5d;
$color-border: #dedede;
$color-body: #ddd;
$color-text-accent: #005182;
$color-shadow: rgba(0, 0, 0, .1);
$brand-colors: (
  'python': #306998,
  'css': #0f94f6,
  'html': #df4a16,
  'javascript': #f8c500,
);
