@import '~sass-rem/_rem.scss';
@import '~include-media/dist/_include-media.scss';
@import 'styles/variables.scss';
@import 'styles/mixins/vertical-rhytm.scss';

html,
body {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  min-width: rem(320px);
}

.page-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "body"
    "sidebar";
  grid-column-gap: 0;
  max-width: $content-max-width;
  margin: -10px auto 0 auto;
  min-height: calc(100vh - 106px);
  align-content: start;

  @include media('>=desktop') {
    margin: 0 auto;
    grid-template-areas:
    "body sidebar";
    grid-template-rows: auto;
    grid-template-columns: 1fr 320px;
  }
}

main {
  position: relative;
  grid-area: body;
  z-index: 1;
  overflow: hidden;
  padding-top: vr(-1);

  @include media('>=tablet') {
    padding: vr(0);
  }
}

.sidebar {
  overflow: hidden;
  grid-area: sidebar;
  position: relative;
  z-index: 1;
  padding: vr(0);

  @include media('>=desktop') {
    box-shadow: $shadow-default;

    > * + *:not(:first-child) {
      margin-top: vr(0);
    }
  }
}
