@import '~sass-rem/_rem.scss';
@import '~include-media/dist/_include-media.scss';
@import 'styles/variables.scss';


.page-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "body"
    "sidebar";
  grid-column-gap: 0;
  max-width: $content-max-width;
  margin: -10px auto 0 auto;
  min-height: calc(100vh - 106px);
  align-content: start;

  @include media('>=desktop') {
    margin: 0 auto;
    grid-template-areas:
    "body sidebar";
    grid-template-rows: auto;
    grid-template-columns: 1fr 320px;
  }
}

main {
  position: relative;
  grid-area: body;
  z-index: 1;
  overflow: hidden;
  padding-top: rem(12px);

  @include media('>=tablet') {
    padding: rem(24px);
  }
}

.sidebar {
  overflow: hidden;
  grid-area: sidebar;
  position: relative;
  z-index: 1;
  padding: rem(24px);

  @include media('>=desktop') {
    box-shadow: $shadow-default;

    > * + *:not(:first-child) {
      margin-top: rem(24px);
    }
  }
}
