@import '~sass-rem/_rem.scss';
@import '~include-media/dist/_include-media.scss';
@import 'styles/variables.scss';

$site-header-height-desktop: rem(100px);
$site-header-height-mobile: rem(50px);

$big-breakp: '>=tablet';
$small-breakp: '<tablet';

@mixin topline ($color: color('orient')) {
  &::before {
    background-color: $color;
    content: '';
    height: rem(5px);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.site-header {
  box-sizing: border-box;
  height: $site-header-height-mobile;
  box-shadow: $shadow-default;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 auto;
  max-width: rem(1440px);
  justify-content: space-between;

  @include media($big-breakp) {
    height: $site-header-height-desktop;
  }

  &__logo-area,
  &__search-area {
    padding: 0 rem(10px);

    @include media($big-breakp) {
      padding: 0 rem(24px);
    }
  }

  &__logo-area {
    position: relative;
    flex: 0 0 rem(196px);
    display: flex;
    align-self: stretch;
    align-items: center;

    @include media($small-breakp) {
      flex: 1 1 auto;
    }
  }

  &__middle-area {
    flex: 1 1 auto;
    align-self: stretch;
    align-items: center;
    display: flex;

    @include media($small-breakp) {
      order: 2;
      padding: 0 rem(12px) 0 0;
      flex: 0 0 auto;
    }
  }

  &__search-area {
    position: relative;
    flex: 0 0 rem(40px);
  }

  &__logo {
    @include media($big-breakp) {
      &.active {
        @include topline;
      }
    }
  }

  &__sections {
    list-style: none;
    padding: 0;
    margin: 0;

    @include media($big-breakp) {
      display: flex;
      flex: 1 1 auto;
      align-items: stretch;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
    }

    svg {
      display: none;
      width: rem(40px);
      height: rem(40px);

      @include media($big-breakp) {
        display: inline;
        clear: both;
      }
    }
  }

  a {
    text-align: center;
    display: block;
    color: color('scorpion');
    text-decoration: none;
    transition: color 200ms ease-out;
  }

  &__section {
    @include media($small-breakp) {
      border-bottom: 1px solid color('silver');

      &:last-child {
        border-bottom: none;
      }

      a {
        text-align: left;
        padding: rem(12px);
      }
    }

    @include media($big-breakp) {
      position: relative;
      flex: 1 1 auto;
      border-right: 1px solid color('silver');

      &:first-child {
        border-left: 1px solid color('silver');
      }

      a {
        padding-top: rem(18px);
      }

      @each $section in 'html', 'css', 'python', 'javascript' {
        &--#{$section} {
          &.active,
          &:focus,
          &:hover {
            a {
              color: color($section, 'brands');
            }
          }

          &.active {
            @include topline(color($section, 'brands'));
          }
        }
      }

      span {
        color: color('scorpion');
        font-size: rem(14px);
        display: block;
        clear: both;
      }
    }
  }

  &__navigation {
    background-color: color('white');

    @include media($small-breakp) {
      position: fixed;
      right: 0;
      top: $site-header-height-mobile;
      bottom: 0;
      z-index: 2;
      transform: translateX(110%);
      width: rem(240px);
      box-shadow: $shadow-default;
      transition: transform 150ms ease-in;
    }

    @include media($big-breakp) {
      display: flex;
      align-self: stretch;
      justify-content: center;
      align-items: stretch;
      flex: 1 1 auto;
    }
  }

  svg {
    width: rem(30px);
    height: rem(30px);
  }

  .navigation-button {
    @include media($big-breakp) {
      display: none;
    }

    &.active + .site-header__navigation {
      transform: translateX(0);
      transition: transform 350ms ease-in;
    }
  }
}
