@import 'styles/base.scss';
@import 'styles/layout.scss';
@import '~sass-rem/_rem.scss';
@import 'styles/mixins/button.scss';

.search-form {
  padding: rem(10px);

  form {
    display: flex;
    flex-direction: row;
  }

  input {
    border: 2px solid color('orient');
    height: rem(40px);
    width: 100%;
    margin-right: rem(20px);
    outline: 0;
    padding: rem(5px);
    font-size: rem(20px);
  }

  button {
    @include large-btn;
  }
}

.search-results {
  $base: &;
  display: flex;
  flex-direction: column;
  padding: rem(10px);

  header {
    order: 1;
  }

  &__content {
    order: 2;

    &:empty ~ header {
      display: none;
    }
  }

  &__item-excerpt {
    margin-bottom: rem(16px);

    p {
      margin: 0;
    }
  }

  &__item-title {
    margin: 0;

    a {
      color: color('orient');
      text-decoration: none;
    }
  }
}
