@import '~sass-rem/_rem.scss';
@import '~include-media/dist/_include-media.scss';
@import 'styles/variables.scss';
@import 'styles/mixins/button.scss';

.taglist {
  &__cloud {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    align-items: center;

    @include media('>=desktop') {
      overflow-x: hidden;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: space-around;
      margin-bottom: rem(8px);
    }
  }

  &__tag {
    text-decoration: none;
    color: color('mine-shaft');
    white-space: nowrap;
    display: inline-block;
    margin: rem(6px);
    border-bottom: 1px dotted transparent;
    line-height: 1;

    &:hover {
      color: color('orient');
      border-bottom-color: color('orient');
    }

    &--group-1 {
      font-size: rem(22px);
      font-weight: 700;
    }

    &--group-2 {
      font-size: rem(20px);
    }

    &--group-3 {
      font-size: rem(16px);
    }

    &--group-4 {
      font-size: rem(14px);
    }
  }
}
