{% if article %}
<title>{% if article.series %}{{ article.series.name }}: {% endif %}{{ article.title }} - {{ TAGLINE }}</title>
  <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}"/>
  {% if article.summary %}
    <meta name="description" content="{{ article.summary|striptags }}"/>
  {% endif %}
{% elif category %}
    <title>{{ category.name | title }} - {{ TAGLINE }}</title>
    <meta name="description" content="Posts related to the {{ category.name }}"/>
{% else %}
  <title>{{ TAGLINE }}</title>
  <meta name="description" content="{{ SITE_SUMMARY }}"/>
{% endif %}
<meta property="og:site_name" content="{{ SITENAME }}" />
{% if article %}
  <meta property="og:type" content="article" />
  {% if article.title %}
    <meta property="og:title" content="{% if article.series %}{{ article.series.name }}: {% endif %}{{ article.title }} -- {{ TAGLINE }}" />
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
  {% endif %}
{% else %}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ TAGLINE }}" />
  <meta property="og:url" content="{{ SITEURL }}/" />
{% endif %}
{% if article and article.summary %}
  <meta property="og:description" content="{{ article.summary|striptags }}" />
{% else %}
  <meta name="og:description" content="{{ SITE_SUMMARY }}"/>
{% endif%}
{% if article and article.date %}
  <meta property="article:published_time" content="{{ article.date }}" />
{% endif%}
{% if article and article.modified %}
  <meta property="article:modified_time" content="{{ article.modified }}" />
{% endif%}

{% if TWITTER_USERNAME %}
  <meta name="twitter:site" content="@{{ TWITTER_USERNAME }}" />
  <meta name="twitter:creator" content="@{{ TWITTER_USERNAME }}" />
{% endif%}
{% if article and article.summary %}
  <meta name="twitter:card" content="{{ article.summary|striptags }}" />
{% else %}
  <meta name="twitter:card" content="{{ SITE_SUMMARY }}"/>
{% endif%}
    {% if article and article.summary %}
    <script type="application/ld+json">
        {% include "includes/meta_article.json" %}
    </script>
    <script type="application/ld+json">
        {% include "includes/meta_article_breadcrumb.json" %}
    </script>
    {% endif %}
    <script type="application/ld+json">
        {% include "includes/meta_main.json" %}
    </script>
