@import '~sass-rem/_rem.scss';
@import '~include-media/dist/_include-media.scss';
@import 'styles/variables.scss';

@mixin large-btn ($bg: $color-text-accent, $text: $color-bg) {
  background-color: $bg;
  border-radius: 2px;
  border: 0;
  box-shadow: 0 0 0 transparent;
  color: $text;
  font-size: rem(16px);
  opacity: .9;
  padding: rem(8px 16px);
  text-decoration: none;
  text-transform: uppercase;
  transform: translateY(-1px);
  transition: box-shadow 200ms ease-in, opacity 200ms ease-in;

  &:hover {
    box-shadow: $shadow-default;
    opacity: 1;
  }

  @include media('>=tablet') {
    font-size: rem(22px);
  }
}
