@import '~sass-rem/_rem.scss';
@import 'styles/variables.scss';

@mixin small-btn ($bg: $color-text-accent, $text: $color-bg) {
  font-size: rem(12px);
  color: $text;
  background-color: $bg;
  padding: rem(4px 8px);
  text-decoration: none;
  border: none;
  transition: box-shadow 200ms ease-in, opacity 200ms ease-in;
  box-shadow: 0 0 0 transparent;
  text-transform: uppercase;
  border-radius: 2px;
  opacity: .9;

  &:hover {
    box-shadow: $shadow-default;
    opacity: 1;
  }
}
