@import 'styles/variables.scss';
@import 'styles/mixins/pill.scss';
@import '~sass-rem/_rem.scss';
@import '~include-media/dist/_include-media.scss';

.card-list {
  padding-top: rem(10px);

  &__wrapper {
    @include media('<tablet') {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      scroll-padding: rem(10px);
      padding-bottom: rem(12px);
    }

    @include media('>=tablet') {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: rem(24px);
      grid-template-rows: auto;
    }
  }
}

.article-card {
  border: 1px solid color('silver');
  box-shadow: 5px 5px 10px color('shadow');
  background-color: color('white');

  @include media('<tablet') {
    min-height: rem(375px);
    flex: 0 0 auto;
    scroll-snap-align: start;
    margin: 0 0 0 rem(12px);
    width: 85vw;
    max-width: rem(300px);

    &:first-child:last-child {
      width: calc(100% - 20px);
      margin-left: 0;
    }

    & ~ .article-card {
      margin-left: rem(12px);
    }
  }

  &__header {
    margin-top: rem(24px);
  }
  &__header,
  &__excerpt {
    padding: 0 rem(24px);
  }

  picture {
    display: block;
    position: relative;
    padding-bottom: 50%;

    img {
      filter: grayscale(.3);
      transition: filter 250ms;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  &:hover img {
    filter: grayscale(0);
  }

  &__title {
    line-height: 1.2;
    margin: rem(0 0 12px 0);
    font-size: rem(20px);
    font-weight: 700;

    @include media('>=tablet') {
      margin: rem(0 0 16px 0);
      font-size: rem(25px);
    }
  }

  &__date,
  &__category {
    margin: rem(0 0 16px 0);
    font-size: rem(14px);
    color: color('scorpion');

    @include media('>=tablet') {
      font-size: rem(16px);
    }
  }

  &__excerpt {
    font-size: rem(16px);
    line-height: 1.6;
    padding-bottom: rem(16px);

    @include media('>=tablet') {
      font-size: rem(20px);
    }
  }

  &__category,
  &__title {
    a {
      text-decoration: none;
      color: color('orient');
    }
  }

  &__category {
    @include pill;
    font-size: rem(13px);

    a {
      text-transform: uppercase;
    }
  }
}
