@import 'styles/variables.scss';
@import '~sass-rem/_rem.scss';
@import '~include-media/dist/_include-media.scss';

.article-card {
  $base: &;

  & + .article-card {
    margin-top: rem(64px);
  }

  &__title {
    line-height: 1.2;
    margin: rem(0 0 24px 0);
    font-size: rem(26px);
    font-weight: 700;

    @include media('>=tablet') {
      margin: rem(0 0 32px 0);
      font-size: rem(32px);
    }
  }

  &__date,
  &__category {
    margin: rem(0 0 10px 0);
    font-size: rem(14px);
    color: $color-text-lighter;

    @include media('>=tablet') {
      font-size: rem(16px);
    }
  }

  &__excerpt {
    font-size: rem(16px);
    line-height: 1.6;

    @include media('>=tablet') {
      font-size: rem(20px);
    }
  }

  &__category,
  &__title,
  &__excerpt {
    a {
      text-decoration: none;
      color: $color-text-accent;
    }
  }

  &__category,
  &__excerpt {
    a {
      border-bottom: 1px dotted transparent;

      &:hover {
        border-bottom-color: inherit;
      }
    }
  }

  &__readmore {
    font-weight: 700;
  }

  &--featured {
    #{$base}__title {
      font-size: rem(32px);

      @include media('>=tablet') {
        font-size: rem(56px);
      }
    }
  }

}
