$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.5;

$type-scale: (
  -2: 0.4rem,
  -1: 0.75rem,
  0: 1rem,
  1: 1.333rem,
  2: 1.777rem
);

$line-heights: (
  -2: $base-line-height * 0.25,
  -1: $base-line-height * 0.5,
  0: $base-line-height,
  1: $base-line-height * 2,
  2: $base-line-height * 2
);

@function type-scale($level: 0) {
  @return map-get($type-scale, $level);
}

@function vr($level: 1) {
  @return map-get($line-heights, $level);
}

@mixin type-setting($level: 0) {
  font-size: type-scale($level);
  line-height: vr($level);
}
