<footer class="site-footer" data-module="footer" data-lazy="true">
    <div class="site-footer__logo-area">
        <a href="/" tabindex="-1">
            <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                loading="lazy"
                data-src="/theme/images/logo-inverted.svg"
                alt="webdesign-log.pl logo links to homepage"
                title="webdesign-log.pl"
                height="29"
                width="196"
            />
        </a>
    </div>
    <div class="site-footer__copyright-area">
        Copyright: Adam Cupiał &copy; 2019
    </div>

</footer>
