<footer class="site-footer" data-module="footer" data-module-style-only="true">
  <div class="site-footer__logo-area">
  <a href="/">
    <img src="/theme/images/blank.gif" data-lazy-src="/theme/images/logo-inverted.svg" alt="webdesign-log.pl logo" title="webdesign-log.pl"/>
  </a>
  </div>
  <div class="site-footer__navigation-area">
    <nav class="site-footer__navigation">
      <ul>
        <li><a href="">Archive</a></li>
        <li><a href="">Some Other Link</a></li>
        <li><a href="">Some Other Link</a></li>
        <li><a href="">Some Other Link</a></li>
        <li><a href="">Some Other Link</a></li>
        <li><a href="">Some Other Link</a></li>
        <li><a href="http://github.com" rel="noobserver">Github</a></li>
      </ul>
    </nav>
  </div>
  <div class="site-footer__copyright-area">
  Copyright: Adam Cupiał &copy; 2019
  </div>

</footer>
