<header class="site-header" data-module="header">
    <div class="site-header__logo-area">
        <a class="site-header__logo{% if 'css,html,javascript,python' | tags_not_present(tag, article, category) %} active{% endif %}" href="/">
            <img
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                loading="lazy"
                data-src="/theme/images/logo.svg"
                alt="webdesign-log.pl logo, links to homepage"
                title="webdesign-log.pl"
                width="196"
                height="29"
            />
        </a>
    </div>
    <div class="site-header__middle-area">
        <div class="navigation-button">
            {{ 'images/bars-solid.svg' | fetch | safe }}
        </div>
        <nav class="site-header__navigation">
            <ul class="site-header__sections">
                {% if 'javascript' in categories | get_tag_names %}
                <li class="site-header__section site-header__section--javascript{% if 'javascript' | tag_present(tag, article, category) %} active{% endif %}">
                    <a href="/category/javascript">
                        {{ 'images/js-brands.svg' | fetch | safe }}
                        <span>JavaScript</span>
                    </a>
                </li>
                {% endif %}
                {% if 'python' in categories | get_tag_names %}
                <li class="site-header__section site-header__section--python{% if 'python' | tag_present(tag, article, category) %} active {% endif %}">
                    <a href="/category/python">
                        {{ 'images/python-brands.svg' | fetch | safe }}
                        <span>Python</span>
                    </a>
                </li>
                {% endif %}
                {% if 'css' in categories | get_tag_names %}
                <li class="site-header__section site-header__section--css{% if 'css' | tag_present(tag, article, category) %} active{% endif %}">
                    <a href="/category/css">
                        {{ 'images/css3-alt-brands.svg' | fetch | safe }}
                        <span>CSS</span>
                    </a>
                </li>
                {% endif %}
                {% if 'html' in categories | get_tag_names %}
                <li class="site-header__section site-header__section--html{% if 'html' | tag_present(tag, article, category) %} active{% endif %}">
                    <a href="/category/html">
                        {{ 'images/html5-brands.svg' | fetch | safe }}
                        <span>HTML</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="site-header__search-area">
        <a href="/search" title="Go to search page">
            {{ 'images/search-solid.svg' | fetch | safe }}
        </a>
    </div>
</header>
