
<header class="site-header" data-module="header">
  <div class="site-header__logo-area">
    <a class="site-header__logo{% if true %} active{% endif %}" href="/">
      <img src="/assets/img/logo.svg" alt="webdesign-log.pl logo" title="webdesign-log.pl"/>
    </a>
  </div>
  <div class="site-header__middle-area">
    <nav class="site-header__navigation">
      <ul class="site-header__sections">
        <li class="site-header__section site-header__section--css{% if false %} active{% endif %}">
          <a href="">
            <i class="fab fa-css3-alt"></i>
            <span>CSS</span>
          </a>
        </li>
        <li class="site-header__section site-header__section--html{% if false %} active{% endif %}">
          <a href="">
            <i class="fab fa-html5"></i>
            <span>HTML</span>
          </a>
        </li>
        <li class="site-header__section site-header__section--javascript{% if false %} active{% endif %}">
          <a href="">
            <i class="fab fa-js"></i>
            <span>JavaScript</span>
          </a>
        </li>
        <li class="site-header__section site-header__section--python{% if false %} active {% endif %}">
          <a href="">
            <i class="fab fa-python"></i>
            <span>Python</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="site-header__search-area">
    <i class="fas fa-search"></i>
  </div>
</header>
