{% if articles_page.has_previous() or articles_page.has_next() %}
<div class="paginator" data-module="paginator" data-lazy="true">
    {% if articles_page.has_previous() %}
        {% if articles_page.previous_page_number() == 1 %}
            <a class="paginator__previous" rel="prev" href="{{ SITEURL }}/">{{ 'images/arrow-left.svg' | fetch | safe }}Newer</a>
        {% else %}
            <a class="paginator__previous" rel="prev" href="{{ SITEURL }}/{{ articles_page.previous_page_number() }}/">{{ 'images/arrow-left.svg' | fetch | safe }}Newer</a>
        {% endif %}
    {% else %}
        <span class="paginator__previous paginator__previous--disabled">{{ 'images/arrow-left.svg' | fetch | safe }}Newer</span>
    {% endif %}

    {% if articles_page.has_next() %}
        <a class="paginator__next" rel="next" href="{{ SITEURL }}/{{ articles_page.next_page_number() }}/">{{ 'images/arrow-right.svg' | fetch | safe }}Older</a>
    {% else %}
        <span class="paginator__next paginator__next--disabled">{{ 'images/arrow-right.svg' | fetch | safe }}Older</span>
    {% endif %}
</div>
{% endif %}
