{% if article.series and article.series.all|length > 1 %}
<div class="paginator" data-module="paginator" data-lazy="true">
  {% if article.series.previous %}
    <a class="paginator__previous" href="{{ SITEURL }}/{{ article.series.previous.url }}/">{{ 'images/arrow-left.svg' | fetch | safe }}Previous</a>
  {% else %}
  <span class="paginator__previous paginator__previous--disabled">{{ 'images/arrow-left.svg' | fetch | safe }}Previous</span>
  {% endif %}

  {% if article.series.next %}
  <a class="paginator__next" href="{{ SITEURL }}/{{ article.series.next.url }}/">{{ 'images/arrow-right.svg' | fetch | safe }}Next</a>
  {% else %}
  <span class="paginator__next paginator__next--disabled">{{ 'images/arrow-right.svg' | fetch | safe }}Next</span>
  {% endif %}
</div>
{% endif %}
