{% if article.series and article.series.all|length > 1 %}
    <section data-module="article-box" class="article-box article-box--series">
        <header>
            <h3 class="section-title">{{ article.series.name }}</h3>
        </header>
        <div class="section-body article-box__content">
         <ol>
             {% for part_article in article.series.all %}
                {% if part_article == article %}
                    <li class="article-box__item article-box__item--current">{{ part_article.title }}</li>
                {% else %}
                    <li class="article-box__item">
                        {% if part_article in article.series.all_previous %}
                            <a rel="prev" href="{{ SITEURL }}/{{ part_article.url }}">{{ part_article.title }}</a>
                        {% else %}
                            <a rel="next" href="{{ SITEURL }}/{{ part_article.url }}">{{ part_article.title }}</a>
                        {% endif %}
                    </li>
                {% endif %}
             {% endfor %}
         </ol>
        </div>
    </section>
{% endif %}
